body{
  font-family: 'Helvetica';
}

@media (min-width: 400px) {
  
  .calculadora-div{
    width: 65%;
  }
   
   }

@media (min-width: 625px) {
  
  .calculadora-div{
    width: 45%;
  }
   
   }

@media (min-width: 750px) {
  
  .calculadora-div{
    width: 40%;
  }
   
   }



@media (min-width: 900px) {
  
  .calculadora-div{
    width: 35%;
  }
   
   }



@media (min-width: 1050px) {
  
  .calculadora-div{
    width: 28%;
  }
   
   }





@media (min-width: 1200px) {
  
.calculadora-div{
  width: 25%;
}
 
 }

 @media (min-width: 1400px) {
  
  .calculadora-div{
    width: 18%;
  }
   
   }


   @media (max-width: 300px) {
  
    .calculadora-div{
      width: 76%;
    }
     
     }

     
   @media (max-width: 350px) {
  
    .calculadora-div{
      width: 73%;
    }
     
     }